@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Popins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f0a472;
}
.wrapper{
    width: 530px;
    background: #fff;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom: 1px solid #ccc;
}
.wrapper .content{
    margin: 25px 25px 35px;
}
.wrapper .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content .typing-input{
    opacity: 0;
    z-index: -999;
    position: absolute;
}
.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    color: #f0a472;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    background: none;
    border-radius: 5px;
    text-transform: uppercase;
    border: 1px solid #b9b1b1;
}
.inputs input:first-child{
    margin-left: 0px;
}
.content .details{
    margin: 20px 0 25px;
}
.details{
    font-size: 19px;
    margin-bottom: 10px;
}
.content .reset-btn{
    width: 100%;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 17px;
    padding: 15px 0;
    background: #1bb295;
    border-radius: 5px;
}